@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/styles/calendar.css";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #131315;
  color: #fffafb;
}
